<launch>

    <node pkg="joy" type="joy_node" name="joystick" />
    <include file="$(find bebop2_controller_nodelet)/launch/nodelet/bebop_stateEstimator_nodelet.launch"/>
    <node pkg="nodelet" type="nodelet" name="bebop2_droneController_nodelet" args="load bebop2_controller_nodelet/DroneController bebop2_controller_nodelet" output="screen"/>


</launch>
