<launch>
  <!-- Load URDF model -->
  <include file="$(find bebop_description)/launch/description.launch" />

  <!-- Start state estimator node -->
  <rosparam command="load" file="$(find bebop2_controller)/config/param.yaml" />
  <arg name="BAG_FILE" default="exp7.bag" />

  <!--  <arg name="BAG_FILE" default="exp1/2023-08-29-11-56-32.bag" />-->
  <arg name="BAG_ROOT" default="/home/airlab/catkin_ws/bags" />
  <node pkg="bebop2_controller" type="bebop2_state_estimator_lpf" name="apriltag_test" output="screen"/>

  <!--  <node pkg="bebop2_controller" type="bebop2_state_estimator_pf.py" name="apriltag_test" output="screen"/>-->
  <node pkg="bebop2_controller" type="bebop2_controller_node" name="controller_test" output="screen"/>
  <node name="rosbag" pkg="rosbag" type="play" args="--clock $(arg BAG_ROOT)/$(arg BAG_FILE)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/airlab/catkin_ws/src/bebop2_controller/config/tag.rviz"/>
</launch>